html,
body {
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#game-container {
  background-color: rgb(43, 43, 43);
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  display: grid;
}

#race-container {
  width: 100%;
}

#race {
  display: grid;
}

#race .row {
  display: grid;
  grid-template-columns: auto max-content;
  place-items: center;
}

#race .row .track {
  width: 100%;
}

#race .row .track img {
  margin-right: auto;
  transform: scaleX(-1);
  display: inline-block;
  width: 48px;
  aspect-ratio: 1 / 1;
}

#race .separator {
  width: 100%;
  border: 2px dashed lightgray;
  box-sizing: border-box;
}

#input {
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.375em;
  width: 100%;
  box-sizing: border-box;
  font-size: large;
  background-color: rgb(87, 87, 87);
  color: #fff;
  font-family: "Fira Code", monospace;
}
