@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

html,
body {
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#logo-container {
  text-decoration: none;
}

#logo {
  display: grid;
  place-items: center;
  grid-template-columns: max-content max-content;
  gap: 0.5em;
  margin-left: 2em;
  margin-top: 1em;
}

#logo p {
  font-family: Lexend Deca, sans-serif;
  font-size: 2rem;
  margin: 0;
  color: #fff;
  text-decoration: none;
  transition-duration: 250ms;
}

#logo:hover p {
  color: #a1a1aa;
}

#logo img {
  width: 100%;
  height: 100%;
}

#container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px) {
  #container {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  #container {
    width: 100%;
  }

  #game-container {
    border-radius: 0 !important;
  }
}

#info-container {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: gray;
  font-family: "Fira Code", monospace;
}

#info-container p {
  margin: 0;
}

#game-container {
  background-color: rgb(43, 43, 43);
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  display: grid;
  transition-duration: 250ms;
}

#race-container {
  width: 100%;
}

#race {
  display: grid;
}

#race .row {
  display: grid;
  grid-template-columns: auto max-content;
  place-items: center;
}

#race .row .track {
  width: 100%;
}

#race .row .track img {
  margin-right: auto;
  transform: scaleX(-1);
  display: inline-block;
  width: 48px;
  aspect-ratio: 1 / 1;
}

#race .row div span {
  font-family: "Fira Code", monospace;
  margin-left: 0.5em;
}

#race .separator {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
  border-width: 1.5px 0;
  border-style: dashed;
  border-color: #494949;
}

#input {
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.375em;
  width: 100%;
  box-sizing: border-box;
  font-size: large;
  background-color: #434343;
  color: #fff;
  font-family: "Fira Code", monospace;
  transition-duration: 100ms;
}

.incorrect-input {
  background-color: #f43f5e !important;
}

::selection {
  background: #3729ce90;
  color: #fff;
}

#input::placeholder {
  color: #d3d3d360;
}

#text-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#text {
  font-size: large;
  color: #d3d3d360;
  font-family: "Fira Code", monospace;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

#text span {
  user-select: none;
  white-space: nowrap;
}

#text span:last-child {
  margin-right: 0;
}

.current-char:not(:empty) {
  /* text-decoration: underline;
  text-decoration-color: #3498db;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px; */
}

.completed-char {
  color: #fff;
}

.incorrect-char {
  /* text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px; */

  color: #ef4444;
}

.car {
  display: grid;
  width: max-content;
  grid-template-columns: auto max-content;
  place-items: center;
  gap: 0.5em;
  position: relative;
  transition: 750ms ease-in-out;
}

.car span {
  margin-top: 20px;
  font-family: "Fira Code", monospace;
}

.caret {
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #6366f1;
  /* animation: caretAnimation 1s ease-in-out infinite; */
  transition-duration: 150ms;
}

@keyframes caretAnimation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#finish-text {
  font-size: large;
  text-align: center;
  font-family: "Fira Code", monospace;
}

#room-not-found-text {
  font-family: "Fira Code", monospace;
  text-align: center;
}

.word-current {
  text-decoration: underline;
}
